<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog/articoli"> Articoli </a></li>
            <li><a href="/contatti">Contatti </a></li>
            <li><a href="/user">Login </a></li>
        </ul>
    </nav>
</header>